.desktop-inner {
  position: absolute;
  top: 1775px;
  left: 0;
  background: linear-gradient(
    180deg,
    #000,
    rgba(93, 44, 168, 0.85) 57.83%,
    #000
  );
  width: 1200px;
  height: 1754px;
}
.this-page-is {
  width: 315px;
  display: inline-block;
  height: 25px;
  flex-shrink: 0;
}
.icons,
.this-page-is,
.view-the-complete {
  position: relative;
}
.icons {
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.view-the-complete-kit-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.this-page-is-included-in-a-fre-parent {
  align-self: stretch;
  width: 396px;
  height: 250%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.bar,
.ellipse-div {
  box-sizing: border-box;
}
.bar {
  width: 1800px;
  background: linear-gradient(
    90deg,
    #feecff,
    #fecaff 11.71%,
    #feb5ff 26.8%,
    #ffdbe7 40.18%,
    #fff4d6 49.22%,
    #f3fcd7 58.71%,
    #d2f5ee 71.29%,
    #c3efff 84.44%,
    #fbefff
  );
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-sm) var(--padding-91xl);
  text-align:center;
  color: var(--color-black);
}
.ellipse-div {
  position: absolute;
  top: 555px;
  left: calc(50% - 1172px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #000 82.2%, #9560eb);
  border: 1px solid var(--color-plum);
  width: 2344px;
  height: 1014px;
}
.read-more,
.version-20-is {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 31px;
  font-weight: 500;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.version-20-is {
  width: 117px;
  height: 11px;
}
.read-more {
  width: 66px;
}
.read-more-parent {
  gap: var(--gap-9xs);
  color: var(--color-white);
}
.read-more-parent,
.tag,
.version-20-is-here-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.version-20-is-here-parent {
  flex: 1;
}
.tag {
  width: 229px;
  border-radius: var(--br-3xs);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  height: 31px;
  overflow: hidden;
  flex-shrink: 0;
  padding: var(--padding-3xs) var(--padding-smi);
  text-align: left;
  color: var(--color-gray-700);
}
.one-task2 {
  margin: 5px;
  align-items: center;
  text-align: center;
}
.body5,
.h12 {
  position:relative;
  text-align: center;
    display:contents;
    justify-content:center;
    align-items:center;
    height: 102px;/* Adjust the height as needed */
  }
.h12 {
  font-size: 100px;
  /* font-size: var(--font-size-146xl); */
  letter-spacing: -0.05em;
  line-height: 90px;
  font-family: var(--body-small-tag);
   align-items: center;
}
.body5 {
  width: 450px;
  font-size: var(--body-large-size);
  letter-spacing: -0.04em;
  line-height: 31px;
  display: inline-block;
}
.hero-content2 {
  position: absolute;
  top: 63.5px;
  left: calc(50% - 227px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-13xl);
}
.cursor-1-icon2,
.cursor-2-icon2,
.message-1-icon2,
.message-2-icon2 {
  position: absolute;
  top: 250px;
  left: 693px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.cursor-2-icon2,
.message-1-icon2,
.message-2-icon2 {
  top: 253px;
  left: 692px;
}
.message-1-icon2,
.message-2-icon2 {
  top: 179px;
  left: 1439px;
}
.message-1-icon2 {
  top: 173px;
}
.rectangle-container {
  position: absolute;
  top: 1px;
  left: -556px;
  width: 2344px;
  height: 1569px;
}
.hero2 {
  width: 1200px;
  position: relative;
  height: 731px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--tag-size);
  font-family: var(--body-large);
}
.frame-parent3,
.frame-wrapper3 {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-parent3 {
  position: absolute;
  top: 121px;
  left: 44px;
  gap: var(--gap-47xl);
}
.grid2 {
  width: 1200px;
  position: relative;
  height: 480px;
  overflow: hidden;
  flex-shrink: 0;
  justify-content:center;
}
.h25 {
  position: absolute;
  top: 77px;
  left: 278px;
  letter-spacing: -0.06em;
  line-height: 60px;
}
.faq2 {
  width: 1200px;
  position: relative;
  height: 706px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--h2-size);
}
.sign-up-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-113xl) var(--padding-311xl);
}
.emojistar-1-icon2,
.helix2-1-icon2 {
  position: absolute;
  top: 10px;
  left: 49px;
  width: 263px;
  height: 263px;
  object-fit: cover;
}
.helix2-1-icon2 {
  top: 160.2px;
  left: 885.2px;
  width: 268.5px;
  height: 268.5px;
  object-fit: contain;
}
.sign-up2 {
  width: 1200px;
  position: relative;
  height: 487px;
  overflow: hidden;
  flex-shrink: 0;
}
.stack2 {
  position: absolute;
  top: 20px;
  left: calc(50% - 600px);
  width: 1200px;
  height: 4081px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.desktop4 {
  width: 100%;
  position: relative;
  background-color: var(--color-black);
  height: 4096px;
  overflow: hidden;
  text-align: center;
  font-size: var(--body-small-tag-size);
  color: var(--color-white);
  font-family: var(--body-small-tag);
}


/*  */
@media screen and (max-width:810px)and (min-width:390px) {
  .stack2{
    height: 4000px;
   display: flex;
   align-items: center;
   min-width: 390px;
   min-height:  4440px; 
   
  }

.this-page-is{

  width: 100%;
  text-align: center;
}

.bar{
margin-top: 250px;
}
  .h12{
   font-size: 80px;
  }
  .body5{ 
    display: flex;
    flex-direction: column;
    width:500px;
    flex-wrap: wrap;
    
  }
  .one-task2{
    display: inline;
    width: 400px;
    height: fit-content;
    font-size: 70px;
    font-weight: 700px;
    text-align: center;

    
  }
  .grid2{
    height: 1600px;
    width: 800px;
    position: relative;

    overflow: hidden;
    flex-shrink: 0;
    justify-content:center;
    margin-bottom: -1100px;
    
  }
 }

 @media screen and (min-width:390){
  .grid2{
    height: 1800px;
    width: 600px;
    position: relative;

    overflow: hidden;
    flex-shrink: 0;
    justify-content:center;
    margin-bottom: -1200px;
  }
  
 }

 @media screen and (max-width:810px){
  .stack2{
   
   display: flex;
   align-items: center;
   min-width: 390px;
   min-height:  4640px;
   margin-top: -415px;
   
  }
 }


 @media screen and (max-width:390px) {
  .h25{
    margin-top: -90px;
    width: 450px;
    font-size: 42px;
    margin-left: 90px;
    margin-bottom:-100px;
  }
  .stack2{
    margin-top: -300px;
  }
  .one-task2{
    font-size: 85px;
    gap: 10px;
   
    margin-top: -10px;
  }
  .body5{
    font-size: 20px;
    width: 280px;
   margin-bottom: 24px;
   margin-top: -20px;

  }
  .hero-content2{
    margin-top: 40px;
    margin-left: 30px;
  }
 }