.how-does-the1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.03em;
}
.vector-icon7 {
  width: 18.8px;
  position: relative;
  height: 18.8px;
}
.faqs2,
.formfaq1,
.frame1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.frame1 {
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-10xs);
}
.faqs2,
.formfaq1 {
  justify-content: center;
}
.formfaq1 {
  width: 673px;
  border-bottom: 1px solid var(--color-gray-800);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-11xl) 0;
}
.faqs2 {
  position: absolute;
  top: 184px;
  left: 262px;
  width: 675px;
  flex-direction: column;
  text-align:left;
  font-size: var(--h5-size);
  color: var(--color-white);
  font-family: var(--body-small-tag);
}

@media screen and (max-width:810px)  {
  .faqs2{
   
    width: 400px;
  }
}

@media  screen and (max-width:390) {
  .how-does-the1{
   margin-left: 200px;
   font-size: 12px;
  }
 
  .frame1{
    margin-left: -600px;
  }
}